.DS_Store
.env
.envrc
.idea/
.scaffold/
__pycache__/
*.py[cod]

logs/
dist/
.tmp/
.local-dev/

plugin/node_modules/
plugin/build/

server/.venv/
server/.pytest_cache/
server/.mypy_cache/
server/.coverage
server/build/
server/cache/
server/dist/
server/*.egg-info/
server/*.pdf
server/*.csv
server/translates/*
!server/translates/.gitkeep
